.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo{
    padding-top: 10px;
}
.reg{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.reg h3{
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: normal;
}
.login{
    float: right;
    font-size: 10px;
}
.login a{
    color: red;
}
.reg_form{
    width: 600px;
    /* background-color: pink; */

    margin: 50px auto;
}
.reg_form ul li{
    margin-bottom: 10px;
}
.reg_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li input{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error{
    color:red;
}
.error_icon,
.success_icon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
}
.success{
    color:green
}
.success_icon{
    background: url(../images/success.png) no-repeat;
}
.safe{
    margin-left: 145px;
}
.safe em{
    padding: 0 12px;
    margin: 0 2px;
    /* background-color: pink; */
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color: #40b83f;
}
.qiang{
    background-color: orange;
}
.agree{
    padding-left: 140px;
}
.agree #yes{
    width: auto;
    vertical-align: middle;
}
.agree a{
    color: blue;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-style: 14px;
    color: #fff;
    margin-left: 70px;
    margin-top: 30px;
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.links{
    margin-top: 0 5px;
}
.links a{
    margin: 0 15px;
}
.copyright{
    line-height: 20px;
}
